<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Chat box</h1>

    <ul id="msglist">
        <% for(let i=0;i<chats.length; i++){ %>
            <li><%= chats[i].user %> : <%= chats[i].content %></li>
        <% } %>

        <span id="typing" style="display: none;">typing...</span>
        
    </ul>

    <!-- <button id="startchat">Start Chat</button> -->
    <input type="text" data-roomid="<%= id %>" id="username"  placeholder="user id" required>
    <input type="text" id="newmsg" placeholder="message..">
    <button id="btn" onkeypress="myfunc(event)">Send</button>
    <!--you can write all your js code inside <%= name %> -->
     
    <script src="/socket.io/socket.io.js"></script>
    <script>
    var socket = io();

    // let startchat = document.getElementById('startchat');
    let btn = document.getElementById('btn');
    let inputmsg = document.getElementById('newmsg');
    let username = document.getElementById('username');
    let msglist = document.getElementById('msglist');

    btn.onclick = function exec(){
        if(username.value === ""){
            alert("please enter your username...")
            return;
        }
        socket.emit('msg_send',{
            msg : inputmsg.value,
            roomid : username.getAttribute('data-roomid'),
            username : username.value
        });
    }

    
    let typestatus = document.getElementById('typing');
    inputmsg.addEventListener('keypress', function (e) {
            typestatus.style.display = 'block';
    });
    inputmsg.addEventListener('keyup', function (e) {
        setInterval( function () {
            typestatus.style.display = 'none';
        },1500);
        
    });

    // startchat.onclick = function exec() {
    //   <span id="typing" style="display: none;">typing...</span>
    //     socket.emit('join_room',{
    //         roomid : startchat.getAttribute('data-roomid')
    //     });
    // }

    window.onload = exec;

    function exec() {
        socket.emit('join_room',{
            roomid : username.getAttribute('data-roomid')
        });
    };


    socket.on('msg_received', (data) => {
        let lismsg = document.createElement('li');
        lismsg.innerHTML =  data.username  +": "+ data.msg + '<span>  &#10003;</span>';
        msglist.appendChild(lismsg);
        setInterval( function () {
            window.location.reload();
        },2000);
    })
    </script>
</body>
</html>